.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

}
.Framework{
    border: 3px solid brown;
    border-radius: 20px;
    padding: 10px;
    margin: 0.10rem;
    position: relative;
    background-color: aliceblue;
    align-items: center;
    text-decoration: dotted;
}
.wrapper, div{
    text-decoration: darkcyan;
}