body {

    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: lightgoldenrodyellow;
}


header,
section,
div {
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-size: 40px;
    line-height: 54px;
}

h2 {
    font-size: 32x;
    line-height: 44px;
}

p {
    font-size: 22px;
    line-height: 33px;
    font-weight: 300;
}

a,
button {
    background-color: rgb(0, 190, 243);

    display: block;
    margin: 0 auto;
    width: 170px;
    height: 46px;
    border-radius: 23px;

    font-size: 22px;
    line-height: 44px;
    color: rgb(247, 246, 246);
    text-decoration: none;

}

button:hover,a:hover{
    background-color: aquamarine;
    color: #000;
    cursor: pointer;
}

header{
    background-color: #e81c50;
    background-image: url(https://unsplash.it/1900/700?image=12);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 200px;
}

header h1{
    /* color:chartreuse; */
    color: #fff

}

header span {
    color:#0929de8d
}

.about p{
    max-width: 650px;
    margin: 0 auto;

}


input,textarea{

    display: block;
    width: 320px;
    height: auto;

    padding: 10px;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;

    transition: border-color 0.5s ease;
}

input:focus, textarea:focus{
    outline: 0;
    border-color: #e81c50;
}

textarea{
    height: 100px;
}

#contact button{
    border: none;
    outline: 0;
    margin-top: 25px; 
}
#contact button:hover{
    background-color: #00ff00;
    cursor: pointer;
}

.gallery{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 10px;
    align-items: center;
}

hr{
    border-top: 1px solid #fafafa;
}

#newsletter{
    padding-top: 30px;
    padding-bottom: 60px;
    justify-content: center;
}

.newsletter-input{
    margin-bottom: 20px;
    border: 10px solid #00ff00;
    border-radius: 5px;
}

footer{
    background-color: burlywood;
}

footer p{
    font-size: 12px;
    margin: 0;
    color: #000;
}
